<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Dressformer Widget Testing Page">
    <meta name="keywords" content="[[*keywords]]"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dressformer webgl widget v<%= version %></title>

    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <link href='http://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" id="css_theme" href="css/light.css">
    <script>
        var Dressformer = {
            dummy: <%-JSON.stringify(dummy)%>
        };
        console.log('Dressformer', Dressformer);
    </script>
</head>
<body>
<div class="df_widget_bg disable-select" id="dfw_bg">
    <div class="dfw_viewport_wrapper">
        <div class="dfw_viewport_wrapper2">
            <div id="viewport" class="dfw_viewport"></div>
            <div class="dfwv_history">
                <div class="dfwv_history_back" onclick="dfViewport.history.back();" title="Return to previous view">
                    <span class="df_icon">&#xf053;</span></div>
                <div class="dfwv_history_forward" onclick="dfViewport.history.forward();" title="Go to next view"><span
                            class="df_icon">&#xf054;</span></div>
            </div>
            <div class="dfwv_control dfwvc_up"><span class="df_icon">&#xf106;</span></div>
            <div class="dfwv_control dfwvc_down"><span class="df_icon">&#xf107;</span></div>
            <div class="dfwv_control dfwvc_left"><span class="df_icon">&#xf104;</span></div>
            <div class="dfwv_control dfwvc_right"><span class="df_icon">&#xf105;</span></div>
            <div class="dfwv_control dfwvc_default"><span class="df_icon">&#xf1db;</span></div>

            <div class="dfwv_control dfwvc_zoom_in" title="Zoom in"><span class="df_icon">&#xf067;</span></div>
            <div class="dfwv_control dfwvc_zoom_out" title="Zoom out"><span class="df_icon">&#xf068;</span></div>

            <div class="dfwv_control dfwvc_d_silver">
                <div class="dfwvc_d_inner dfd_silver"></div>
            </div>
            <div class="dfwv_control dfwvc_d_gold">
                <div class="dfwvc_d_inner dfd_gold"></div>
            </div>
            <div class="dfwv_control dfwvc_d_carbon">
                <div class="dfwvc_d_inner dfd_carbon"></div>
            </div>
            <div class="dfwv_control dfwvc_d_plastic">
                <div class="dfwvc_d_inner dfd_plastic"></div>
            </div>

            <div class="df_preloader">
                <div class="dfp_dot" id="dfpd_left"></div>
                <div class="dfp_dot" id="dfpd_center"></div>
                <div class="dfp_dot" id="dfpd_right"></div>
            </div>
        </div>
    </div>
    <div class="df_left_sidebar" id="profile">
        <div class="h10"></div>
        <div id="radioGender" class="dfp_block">Gender:
            <div class="dfpb_radio dfpbr_left dfpb_radio_on" data-value="Female">Female</div>
            <div class="dfpb_radio dfpbr_right" data-value="Male">Male</div>
        </div>
        <div class="h10"></div>
        <div id="radioUnits" class="dfp_block">Units:
            <div class="dfpb_radio dfpbr_left dfpb_radio_on" data-value="cm">cm</div>
            <div class="dfpb_radio dfpbr_right" data-value="inches">inches</div>
        </div>
        <div class="h10"></div>
        <div id="numberHeight" class="dfp_block">Height:
            <div class="dfpbm_minus"><span class="df_icon">&#xf068;</span></div>
            <div class="dfpbm_enter" contenteditable="true">175</div>
            <div class="dfpbm_plus"><span class="df_icon">&#xf067;</span></div>
        </div>
        <div class="h10"></div>
        <div id="numberChest" class="dfp_block">Bust circum:
            <div class="dfpbm_minus"><span class="df_icon">&#xf068;</span></div>
            <div class="dfpbm_enter" contenteditable="true">90</div>
            <div class="dfpbm_plus"><span class="df_icon">&#xf067;</span></div>
        </div>
        <div class="h10"></div>
        <div id="numberUnderbust" class="dfp_block">Underbust circum:
            <div class="dfpbm_minus"><span class="df_icon">&#xf068;</span></div>
            <div class="dfpbm_enter" contenteditable="true">65</div>
            <div class="dfpbm_plus"><span class="df_icon">&#xf067;</span></div>
        </div>
        <div class="h10"></div>
        <div id="numberWaist" class="dfp_block">Waist circum:
            <div class="dfpbm_minus"><span class="df_icon">&#xf068;</span></div>
            <div class="dfpbm_enter" contenteditable="true">60</div>
            <div class="dfpbm_plus"><span class="df_icon">&#xf067;</span></div>
        </div>
        <div class="h10"></div>
        <div id="numberHips" class="dfp_block">Hips circum:
            <div class="dfpbm_minus"><span class="df_icon">&#xf068;</span></div>
            <div class="dfpbm_enter" contenteditable="true">90</div>
            <div class="dfpbm_plus"><span class="df_icon">&#xf067;</span></div>
        </div>
        <div class="h10"></div>
        <div class="dfp_block">Save changes?
            <div id="btnProfileCancel" class="dfp_btn dfpbr_left dfp_btn_cancel">Cancel</div>
            <div id="btnProfileSave" class="dfp_btn dfpbr_right dfp_btn_ok">Yes</div>
        </div>

    </div>
    <div class="df_left_sidebar" id="share">
        <div class="df_share_btn"><span class="df_icon">&#xf09a;</span></div>
        <div class="df_share_btn"><span class="df_icon">&#xf0d5;</span></div>
        <div class="df_share_btn"><span class="df_icon">&#xf099;</span></div>
    </div>

    <div class="df_widget_left_panel" id="dfw_left_panel">
        <div class="dflp_btn" id="sb_btn_profile"
             title="Sizing controls & measurements">My Body Profile
        </div>
        <div class="dflp_btn" id="sb_btn_share"
             title="Share the 3D-viewport picture">Share Look
        </div>
        <a href="//dressformer.com" class="df_logo" title="Go to Dressformer.com"></a>
    </div>

    <div class="df_garment_set" id="df_garment_set">
        <div class="df_garment_preview" title="Kira Plastinina dress"></div>
        <div class="dfg_size" title="Select size">XS</div>
        <div class="dfg_size dfg_size_on" title="Select size">S</div>
        <div class="dfg_size" title="Select recommended size">M</div>
        <div class="dfg_size_recomended"><span class="df_icon">&#xf078;</span>&nbsp; Recomended</div>
        <div class="dfg_size" title="Select size">L</div>
        <div class="dfg_size" title="Select size">XL</div>
        <div class="h40"></div>
        <div id="switchPut" class="dfg_btn"><span class="df_icon">&#xf061;</span>&nbsp; Put Off</div>
        <div class="dfg_btn"><span class="df_icon">&#xf00d;</span>&nbsp; Remove from list</div>
    </div>

    <div class="df_widget_right_panel" id="dfw_left_panel">
        <div class="dfw_close" title="Close widget & return to shopping"><span
                    class="df_icon">&#xf00d;</span></div>
        <div class="dfrp_garment" id="dfg_item1" data-garment="de8b4da5-da7e-4547-9a47-9027e0bd85c2" title="Kira Plastinina dress">
            <div class="dfrpg_select"><span class="df_icon">&#xf00c;</span></div>
        </div>
        <div class="dfrp_garment" id="dfg_item2" data-garment="165e5bcb-ee7e-4c43-b8bf-1c4d077236ed" title="Select garment"></div>
        <div class="dfrp_garment" id="dfg_item3" data-garment="61de8f81-b764-4550-814f-baea86574d11">
            <div class="dfrpg_select"><span class="df_icon">&#xf00c;</span></div>
        </div>
        <!--<div class="dfrp_garment" id="dfg_item4"></div>-->
        <!--<div class="dfrp_garment" id="dfg_item5"></div>-->
        <!--<div class="dfrp_garment" id="dfg_item6">-->
            <!--<div class="dfrpg_select"><span class="df_icon">&#xf00c;</span></div>-->
        <!--</div>-->
        <!--<div class="dfrp_garment" id="dfg_item7">-->
            <!--<div class="dfrpg_select"><span class="df_icon">&#xf00c;</span></div>-->
        <!--</div>-->
        <!--<div class="dfrp_garment" id="dfg_item8"></div>-->
        <!--<div class="buy_all" title="Go to shopping cart">-->
            <!--<span class="df_icon">&#xf07a;</span>-->
        <!--</div>-->
    </div>
</div>
<script src="js/viewport-webgl.js?v=<%= version %>"></script>
</body>
</html>