<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Dressformer webgl widget v<%=version%></title>
    <link href='http://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css"/>
    <script>
        var Dressformer = {
            garment: {
                id: '<%=id%>'
            },
            dummy: <%-JSON.stringify(dummy)%>
        };
        console.log('Dressformer', Dressformer);
    </script>
</head>
<body>
<div id="viewport">
    <div class="viewport_controls">
        <div class="camera_control">
            <div class="cc_btn animation" id="cc_up">&#xf077;</div>
            <div class="cc_btn animation" id="cc_down">&#xf078;</div>
            <div class="cc_btn animation" id="cc_left">&#xf053;</div>
            <div class="cc_btn animation" id="cc_right">&#xf054;</div>
            <div class="cc_btn animation" id="cc_default">&#xf192;</div>
        </div>
        <div class="vprt_full" id="vprt_full">&#xf065;</div>
        <div class="zoom_control">
            <div class="zc_btn animation" id="zc_in">&#xf067;</div>
            <div class="zc_btn animation" id="zc_out">&#xf068;</div>
        </div>
    </div>
</div>

<script src="js/viewport-webgl.js?v=<%=version%>"></script>
</body>
</html>