@charset "utf-8";
@font-face {
    font-family: 'IconFont';
    src: url('../fonts/iconfont.ttf');
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis','IconFont', sans-serif;
}

.wrapper-fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
}